<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.school_programm_as">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".teacher.TeacherListOfStudents"></activity>
        <activity
            android:name=".admin.presentation.ListOfPupilsActivity"
            android:noHistory="true" />
        <activity
            android:name=".admin.presentation.ClassesListActivity"
            android:noHistory="true" />
        <activity
            android:name=".admin.presentation.AdminActivity"
            android:noHistory="true" />
        <activity
            android:name=".ParentQRScanActivity"
            android:label="@string/title_activity_parent_qrscan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentsListActivity"
            android:label="@string/title_activity_students_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentTimetableDay"
            android:label="@string/title_activity_students_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentTimetable"
            android:label="@string/title_activity_students_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ParentMainActivity"
            android:label="@string/title_activity_parent_main"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QRScan"
            android:noHistory="true" />
        <activity
            android:name=".StudentProfile"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyQRCodeActivity"
            android:label="@string/title_activity_my_qrcode"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TodayTimetableActivity"
            android:label="@string/title_activity_today_timetable"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateTimetableActivity"
            android:label="@string/title_activity_create_timetable"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CreateClassActivity"
            android:label="@string/title_activity_create_class"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TeacherMainActivity"
            android:label="@string/title_activity_teacher_main"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginFormActivity"
            android:noHistory="true" />
        <activity
            android:name=".RegistrationFormActivity"
            android:label="@string/title_activity_registration_form"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginAuthorization"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>